.btn {
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    span {
        font-size: 18px;
        color: #304879;
    }
    &:hover {
        background: #E2EEFF;
    }
    &:active, &:focus {
        background: #B5D3FF;
    }
    &:disabled {
        pointer-events: none;
        span {
            color: #A8B0BF;
            &:before {
                color: #A8B0BF;
            }
        }
    }
}

button { 
    &.button-primary {
        padding: 16px 22px;
        background: #2F67D5;
        border-radius: 37px;
        color: #fff;
        border: none;
        font-size: 18px;
        outline: none;
        cursor: pointer;
        transition: all .2s;
        &:hover {
            background: #3C7CF8;
        }
        &:focus, &:active {
            background: #194EB6;
        }
        &:disabled {
            background: #D8DEE9;
            pointer-events: none;
        }
    }
    &.button-cancel {
        padding: 16px 22px;
        border-radius: 37px;
        border: none;
        font-size: 18px;
        outline: none;
        cursor: pointer;
        transition: all .2s;
        color: #2F67D5;
        background: #fff;
        &:hover {
            background: rgba(60, 124, 248, 0.1);
        }
        &:focus, &:active {
            background: rgba(25, 78, 182, 0.2);
        }
    }
}